# Virtual Environment
.venv/
venv/
ENV/

# Environment Variables & Keys (보안 필수)
.env

# Chroma Vector DB & Local Storage
chroma_db/
temp_uploads/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# OS Specific
.DS_Store
Thumbs.db

# 실습파일
practice/